<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- remove public from above path -->
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- //for writing dynamic(stuff) calculation -->
    <!-- <h1>ashwin <%= 2+2 %></h1> -->
    <!-- remove public from above path -->

    
    <script src="/javascript/script.js"></script>
</body>
</html>